[client]
socket=$HOME/.state/mariadb/tmp/mysql.sock
port=$DBPORT

[mysqld]
language=$HOME/.state/mariadb/english
socket=$HOME/.state/mariadb/tmp/mysql.sock
port=$DBPORT
bind-address=$DBHOST
general-log
